body {
    font-family: Arial, sans-serif; /* Fuente general */
    line-height: 1.6; /* Mejora la legibilidad */
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina rellenos predeterminados */
    display: flex; /* Usa Flexbox para centrar el contenido */
    flex-direction: column; /* Dispone los elementos en columna */
    align-items: center; /* Centra horizontalmente */
   /* background-color: #f4f4f4;*/ /* Color de fondo suave */
 background-color: #dbddf7;
}
/* Estilo del encabezado */
header {
    background: #a37a7a; /* Fondo oscuro */
    font-size: 120%; /* Tamaño de fuente */
    color: #fff; /* Texto blanco */
    width: 100%; /* Ancho completo */
    padding: 10px 0; /* Relleno vertical */
    text-align: center; /* Centra el texto */
}
