body {
    font-family: Arial, sans-serif; /* Fuente general */
    line-height: 1.6; /* Mejora la legibilidad */
    margin: 100px 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina rellenos predeterminados */
    display: flex; /* Usa Flexbox para centrar el contenido */
    flex-direction: column; /* Dispone los elementos en columna */
    align-items: center; /* Centra horizontalmente */
   /* background-color: #f4f4f4;*/ /* Color de fondo suave */
 background-color: #dbddf7;
}
/* Estilo del encabezado */
header {
    background: #a37a7a; /* Fondo color */
    font-size: 120%; /* Tamaño de fuente */
    color: #fff; /* Texto blanco */
    width: 100%; /* Ancho completo */
    padding: 10px 0; /* Relleno vertical */
    text-align: center; /* Centra el texto */
}
/* Estilo del formulario */
form {
    background:  #cdaeae; /* Fondo color */
    size: 210%; /* Ancho completo */
    padding: 20px; /* Relleno interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(55, 1, 1, 0.9); /* Sombra color */
    width: 450px; /* Ancho fijo */
}
/* Estilo de los botones */
button {
    margin-top: 10px; /* Margen superior */
    margin-left: 400px; /* Margen izquierdo */
    size: 500%; /* Tamaño de fuente */
    background: #1c7cfa; /* fondo color /
   /*  color: Texto color  */
    border: none; /* Sin borde */
    padding: 10px; /* Relleno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar */
}
/* Estilo de resultados */
.resultados {
    background-color: #f0f8ff; /* Color de fondo del rectángulo */
    border-radius: 15px; /* Esquinas redondeadas */
    padding: 20px; /* Espaciado interno */
    margin-top: 20px; /* Espaciado superior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}